.container{
    margin-top:10px;
    width:500px;
    display:flex;
    flex-wrap:wrap;
    border:1px solid black;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.pane{
    display:flex;
    gap:10px;
}


.grid-square{
    box-sizing:border-box;
    aspect-ratio: 1/1;
}